@model Itanio.SessaoAoVivo.Dominio.Sessao
@{
    ViewBag.Title = "Home";
}



<div class="row">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/@Model.CodigoYouTube" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Label("Mensagem:", new { @class = "control-label col-md-2" })
        @Html.TextArea("mensagem", new { @class = "form-control", id="txt-mensagem"});
        <button type="submit">Enviar</button>
    }
</div>

@section scripts {
<script>
    
    $(function () {
        $("form").on("submit", function (e) {
            e.preventDefault();
            $.post(SessaoAoVivo.api + "Home/EnviarMensagem", 
                $(this).serialize(),
                function (data, status, xhr) {
                    SessaoAoVivo.App.toastr["success"]("Mensagem enviada!", "Aviso");
                },
                "text");
        });
    });
</script>    
}