<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="StringConexao" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SessaoAoVivo;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="StringConexao" connectionString="Data Source=192.168.0.128\ITANIO_ZEQELE;Initial Catalog=SmartLMS_CodigoNerd;Integrated Security=False;User ID=sa;Password=IT_Newest_58132_In;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
    <add name="StringConexao" connectionString="Data Source=186.202.11.84;Initial Catalog=SessaoAoVivo;Integrated Security=False;User ID=sql_admin;Password=smart_58132_In;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGravadorArquivoService"    receiveTimeout="01:00:00"
                 sendTimeout="01:00:00"
                 maxBufferPoolSize="2000000000"
                 maxReceivedMessageSize="2000000000">

          <readerQuotas maxDepth="2000000000"
               maxStringContentLength="2000000000"
               maxArrayLength="2000000000"
               maxBytesPerRead="2000000000"
               maxNameTableCharCount="2000000000" />
          <security mode="None">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://it_server:8080/SessaoAoVivo/GravadorArquivo.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGravadorArquivoService"
        contract="GravadorArquivoServices.IGravadorArquivoService" name="WSHttpBinding_IGravadorArquivoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>