<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGravadorArquivoService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9986/GravadorArquivo.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGravadorArquivoService"
                contract="GravadorArquivoServices.IGravadorArquivoService"
                name="WSHttpBinding_IGravadorArquivoService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>